#container
{
	@extend %center_layout;
}
	#mainContents
	{
		float: left;
		width: 65%;
		
		@include mq( 0, 768px ) {
			float: none;
			width: auto;	
		}
	}
	
	#subContents
	{
		float: right;
		width: 33%;
		
		@include mq( 0, 768px ) {
			float: none;
			width: auto;	
		}
	}


.section
{
	
}
	.section-header
	{
		margin-top: 30px;
		
		@include mq( 0, 768px ) {
			margin-top: 15px;	
		}
		
		.section-title
		{
			
			font-size: 150%;
			line-height: 160%;
			
			@include mq( 0, 768px ) {
				font-size: 130%;	
			}
			@include mq( 769px, 1024px ) {
				font-size: 130%;	
			}
			
			i
			{
				color: #777;
			}
		}
		
		&:target
		{
			.section-title i
			{
				color: $COLOR_RED;
			}
		}
	}
	.section-contents
	{
		margin-top: 10px;
		margin-bottom: 30px;
		
		@include mq( 0, 768px ) {
			margin-bottom: 15px;	
		}
		
		.textContent
		{
			p
			{
				margin-top: 1.5em;
			}
		}
	}